<div>
    <h1>Cadastro de Alunos</h1>




    <h2>Lista de Alunos</h2>

    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>ra</td>
            <td>cpf</td>
            <td>Editar</td>
            <td>Apagar</td>
        </tr>
        <tr *ngFor="let aluno of alunos">
            <td>{{aluno.id}}</td>
            <td>{{aluno.name}}</td>
            <td>{{aluno.ra}}</td>
            <td>{{aluno.cpf}}</td>
            <td><button>Editar</button></td>
            <td><button>Apagar</button></td>
        </tr>
    </table>

</div>